* {
    font-family: 'Noto Sans KR', sans-serif;
}


/* 전체적인 세팅부터 */
*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0px;
}

.container{
    height: 100%;
    background-color: #1a1a1a;
}

/* 스크린 크기 조정 */
.chat-screen{
    height: calc(100% - 120px);
}

/* 유저 정보 표시되는 부분 */
.user{
    background-color: #1c2733;
    padding: 16px;
    height: 80px;
}

.user__column{
    float: left;
}

.user__pic{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #2b3c4e;
}

.user__nick{
    color: #ffffff;
}

.user__nick, .user__count{
    margin: 5px;
}

.user__count{
    font-size: 12px;
    color: #e5e5e5;
}
/* 채팅 입력 창*/
.chat-form{
    height: 120px;
    background-color: #1a1a1a
}

.chat-form__field{
    height: 120px;
}

.chat-form__msg{
    background-color: #242424;
    color: #fff;
    float: left;
    width: calc(100% - 120px);
    height: 120px;
    border: none;
    resize: none;
    font-size: 24px;
    padding: 10px;
}

.chat-form__bt{
    float: right;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    background-color: #2b3c4e;
    font-size: 18px;
    color: #ffffff;
}

.chat-form__msg:focus{
    outline: none;
}

.chat-form__bt:active{
    background-color: #1c2733;
}

